<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>default Template</title>
        <meta charset="UTF-8">
        <meta name="author" content="Diogo Marostega de Oliveira">
        <meta name="description" content="Template default.">
        <meta name="keywords" content="">
        <meta name="viewport" contet="width=device-width">              
        <style>
            header, footer,main{
                width: 60%;
                margin: auto;
                color: red;
            }

        </style>
     </head>
    <body>
        <header>
            <h3>View Not Found!</h3>
        </header>        
        <footer></footer>
    </body>
</html>